.jumbotron {
    background-image: url("../images/ha.jpg");
    background-size: cover;
    height: 25rem;
}
.container {
    margin-top: 5rem;
}

/* .navbar-brand {
  font-size: xx-large;
}

.top-buttons {
  float: right;
  margin: 1%;
}

.top-buttons li {
  margin: 0 2px;
} */

#scrape{
    background-color: #99b19c;
}

.btn-primary{
    border: none;
    background-color:#99b19c;
}

button:focus{
    outline:none;
}

.btn:focus{
    box-shadow:none;
    outline:none;
}

.save{
    background-color: #99b19c;
}

.btn-primary:hover{
    background-color: #99b19c;
    border:none;
}
.article {
  margin: 1% 5%;
}


.article h2 {
  color: #99b19c;
  font-weight: bolder;
}

.article p {
  color: #696464;
  font-weight: bold;
}

.load {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/*MODAL*/
.btn{
    background-color: #99b19c;
    color:white;
}

h2{
    color: #99b19c;
    font-size: 1.5em;
}
.modal-content {
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 12%;
  border-radius: 0;
  color: #777;

}

.modal-body {
  padding-top: 0;
  width: 80%;
  margin: 0 auto;
}

.form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

#titleinput {
  margin-top: 1%;
}

#bodyinput {
  margin-top: .5%;
}

#savenote {
  margin-left: 45%;
}